<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=DESKTOP-DKQMAR1;Initial Catalog=DUNDERMIFFLIN_DB;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="$safeprojectname$.Properties.Settings.DUNDERMIFFLIN_DBConnectionString" connectionString="Data Source=DESKTOP-DKQMAR1;Initial Catalog=DUNDERMIFFLIN_DB;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>


